---
- hosts: all
  sudo: yes
  tasks:
#    - name: cleaning for yum
#      command: /usr/bin/yum clean all
    - name: set to use only jp mirror for yum
      lineinfile: >
        dest="/etc/yum/pluginconf.d/fastestmirror.conf"
        state=present
        insertafter=EOF
        regexp="^include_only=.*(?!\.jp)$"
        line="include_only=.jp"
    - name: update all package
      yum: >
        name="*"
        state=latest
        update_cache=no

- hosts: db
  sudo: yes
  tasks:
    - include: db.yml
  handlers:
    - name: condrestart mariadb
      shell: >
        service mysql status 2>&1 > /dev/null && service mysql restart
      ignore_errors: yes
- hosts: db_master
  sudo: yes
  tasks:
    - include: db_master.yml
- hosts: db_slave
  sudo: yes
  tasks:
    - include: db_slave.yml

- hosts: web
  sudo: yes
  tasks:
    - include: web.yml
  handlers:
    - name: restart rsyslog
      service: >
        name=rsyslog
        state=restarted
    - name: reload haproxy
      service: >
        name=haproxy
        state=reloaded
